.header {
  display: flex;
  align-items: flex-start;

  &:first-child {
    padding-left: 16px;
  }
}

/* style-lint-next-line */
html {
  background-color: #f7f7f7;
}

.columnPadding {
  padding: 10px 10px 0px 34px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0px;
}

.crescer {
  width: 100%;
}

/* todo: talvez tenha um jeito melhor de fazer isso */
.buttonSubmit {
  width: 100%;

  & > button {
    width: 100%;
  }
}

.stepsMiddle {
  padding-bottom: 0px;
  height: 41px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
